html{
  background: url(oldd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
body{
	background-color: rgb(240,223,208);
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	text-align:center;
}
.div1{
	border: none;
	line-height: 20px
	margin:0px 50% 0px 7%;
	align-items: right;

}
@media only screen and (max-width: 600px){
	   .paragraph{
	   	font-size: 0.5em;
	   	padding: 0;
	   }
}
.paragraph1{
	height: 700px;
	text-align:right;
}
img{
	float: left;
	width:auto;
	height:700px;
	border-radius: 20px;
	margin-right: 20px;
}
h1{
	text-align: center;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-family: 48px;
	text-decoration: underline;
	border:10px solid-black;
	width: 500px;
	padding:10px;
}

h2{
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-decoration: underline;
	border:10px solid-black;
	width: 500px;
	padding:10px;
}
p{
	text-align: justify;
	line-height: 30px;	
	font-family:'Raleway', sans-serif;
	font-size:25px;
	width:78%;
	margin-right: auto;
	padding-right:10px;
}
.subject{
	display: flex;
	justify-content: center;
	margin-right:auto;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-radius: 10px;
	background-color: black;
}
@media only screen and (max-width: 600px){
	   .subject{
	   	font-size: 0.7em;
	   	padding: 0;
	   	border-width:2px;
	   }
}
.subject1{
	display: flex;
	justify-content: center;
	font-color:white;
	margin-right:auto;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-radius: 20px;
	background-color: black;
	width:10%;
	font-size:25px;
}
a{
	color:white;
}
