:root {
    --nav-height: 120px;
}

iframe {
    border: none;
    width: 100%;
    margin-top: var(--nav-height);
    height: calc(100vh - 124px);
}
#user-input {
    display: flex;
    align-items: center;
    margin-top: var(--nav-height);
    border-radius: 20px;
    padding-left: 20px;
    margin-left:20px;
}

#log-out {
    display: none;
}
h1{
	text-align: center;
}