body{
	margin:auto 0;
	background-color: black;
	background-color: rgb(239,222,205);
	font-family: 'Raleway', sans-serif;
	/*background-image: url(pills.jpg);*/
	/*background-size: cover;*/
}
/*NOT CURRENTLY USING CONTAINER CLASS AT ALL*/
.zone{
	cursor: pointer;
	font-size: 1.2em;
	/*border-radius:4px;
	border:1px solid black;*/
	transition:all 0.3s linear;
	align-items: center;
	align-content: center;
}
.navigation{
	background-image: url(pills.jpg);
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}
.sticky{
	position: fixed;
	top:0;
	width:100%;
	border-bottom-color: black;
	border-bottom-style:solid;
}
.links{
	display: flex;
	list-style: none;
	margin: 0;
}
.click{
	transition: all 1s;
	padding: 40px;
}
.click:hover{
	transform:scale(1.4);
}
a{
	color: white;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}
.push{
	margin-left: auto;
	font-size:30px;
}
.header{
	display: flex;
	align-items:flex-end;
	justify-content: center;
	height:55vh;
	background-color: rgb(239,222,205);
	font-family: 'Raleway', sans-serif;
	font-size: 14vh;
	text-decoration: underline;
	list-style: none;
}
.wand{
	height: 14vh;
	width: 10px;
	animation-iteration-count: 2.0;
}
.acronym{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	list-style: none;
}
.nounderline{
	text-decoration: none;
}
.video{
	display: flex;
	border-top: solid black 2px;
	height:300px;
	width:1fr;
	background-color: rgb(239,222,205);
	font-family: 'Raleway', sans-serif;
	font-size:30px;
	justify-content: center;
	padding-top: 15px;
}
.wrap{
	display: grid;
	grid-gap: 5px;
	grid-template-columns:repeat(auto-fill, minmax(350px,1fr));
	background-color: white;

}
.who{
	/*display: grid;*/
	font-size:20px;
	margin-bottom: none;
	margin-left: 20px;
	border-bottom-style:solid;
	border-bottom-color: black;
	max-height: 20%
}
.pills{
	position: absolute;
	width:100vw;
	height:100vh;
	object-fit: cover;
	z-index: -1;
	margin-left:-20px;
	border-top-style:solid;
	border-top-color: black;
	object-position: bottom;
}
.largetext{
	font-size:30px;
}
.list{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin:0;
}
.div1{
	padding-top: 0px;
	padding-right: 50%;
	padding-bottom: 0px;
	padding-left:0px;
	color:white;
	max-height: 20%;
}
.nobullet{
	list-style: none;
	text-decoration: underline;
}
.paragraph{
	padding:15px;
}
.paragraph>p{
	width: 100%;
}
p{
	width: 95%
}
footer{
	background-color: rgb(239,222,205);
	text-align:center;
	border-top-color: black;
	border-top-style:solid;
	list-style: none;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	margin:0;
}
.footer{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	list-style: none;
	text-align: center;
}
@media only screen and (max-width: 600px){
	.div1 {
		font-size: 0.5em;
		padding: 0;
	}
	.header{
		font-size:15px;
		height:30vh;
		width:100vw;
		justify-content: space-between;
		align-items: stretch;
		text-align: center;
	}
	header{
		text-align: center;
	}
	.click {
		padding:20px;
		padding-top: 0px;
		margin-top: 0px;
	}
	.zone{
		font-size: 20px;
		margin-right: 0px;
	}
	.push{
		font-size: 10px;
	}
	.wand{
		height:15px;
		/*width:15px;*/
	}
	.links{
		margin-top:0;
		padding:10px;
		padding-bottom: 0px;
		font-size:10px;
	}
	p{
		margin-right:0px;
	}
	.largetext{
		font-size:15px;
	}
	.list{
		font-size:15px;
	}
	video{
		height:150px;
		width:1fr;
	}
	.acronym{
		font-size:15px;
	}
	li{
		font-size:15px;
	}
}

