body {
    background-color: #efdecd;
    opacity: 0.9;
    margin-bottom: 10px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin: auto 0;
}

p {
    text-align: center;
}

address {
    display: inline-block;
}

footer {
    color: #428589;
    font-size: 20px;
    text-align: center;
}
.navbar{
    cursor: pointer;
    font-size: 1.0em;
    background-color: #428589;
    width: 100vw;
    transition: all 0.3s linear;
    position: fixed;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 2.0em;
    margin: 0;
    justify-content: center;
}
.individuallink {
    padding: 30px;
}

.links {
    text-decoration: none;
    color: #428589;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #efdecd;
    padding-bottom: 10px;
}

a:hover{
    transform: 1s scale(1.2em);
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    border: 5px solid #428589;
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
    height: 65vh;
    width: 65vw;
    margin-top: 10px;
}

.flexbox-item-1 {
    height: 15%vh;
    background-color: #efdecd;
    background-size: cover;
    background-repeat: no-repeat;
}

.flexbox-item-2 {
    background-color: #efdecd;
    text-align: center;
    border-radius: 6%;
    height: 65vh;
    width: 75vw;
}

.flexbox-item-3 {
   position: relative;
    width: 50vw;
    background-color: rgb(111, 196, 236);
    max-height: 594px;
    text-align: justify;
    border-radius: 6%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.flexbox-item-4 {
    width: 100vw;
    background-color: #428589;
    color: #efdecd;
    font-size: 28px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #428589;
    border-top: 4px solid #efdecd;
    border-bottom: 4px solid #efdecd;
}

.flexbox-item-5 {
    width: 960px;
    min-height: 300px;
    max-height: 400px;
    background-color: #efdecd;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 6%;
}

.ninesixty {
    width: 960px;
}

.elevenhundred {
    width: 48vw;
    position: absolute;
    top: 1vh;
    left: 0vw;
    text-align: justify;
    padding-left: 10px;
    border: 2px;
    border-radius: 6%;
    color: #fff;
}
.elevenhundred1{
    width: 48vw;
    position: absolute;
    top: 150px;
    left: 2vw;
    text-align: justify;
    padding-left: 10px;
    border: 2px;
    border-radius: 6%;
    color: #fff;
}

.pills {
    border-radius: 6%;
    width:50vw;
    max-height: 595px;
    border: 3px solid #428589;
}

.moveup {
    width: 48vw;
    position: absolute;
    bottom: 150px;
    display: block;
    text-align: justify;
    padding-left: 30px;
    color: #fff;
}
.moveup1{
    width: 48vw;
    position: absolute;
    bottom: 65px;
    display: block;
    text-align: justify;
    padding-left: 30px;
    color: #fff;
}

.block {
    list-style: circle;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 5px;
    background-color: #fff;
    border-top: 4px solid #428589;
    border-bottom: 4px solid #428589;
    margin-left: -1px;
    margin-right: -1px;
    width: 100vw;
}

.grid-item {
    padding: 15px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.3s linear;
    align-items: center;
    align-content: center;
    background-color: #fff;
}

.drugPic {
    max-width: 280px;
}

.logo {
    width: 45%;
    height: 400px;
}

.googleForm {
    display: flex;
    align-items: left;
    margin-top: 0px;
    float: left;
    width: 65vw;
}

.about {
    text-align: justify;
    font-size: 25px;
    color: #428589;
}

.me {
    width: 220px;
    height: 400px;
    float: left;
    padding-right: 10px;
}

.header {
    color: #428589;
}

#iframe {
    border: none;
    width: 100%;
    margin-top: var(--nav-height);
    height: calc(100vh - 124px);
}

iframe {
    border: none;
    width: 100%;
    margin-top: var(--nav-height);
    height: calc(100vh - 124px);
}

#user-input {
    display: flex;
    align-items: center;
    margin-top: var(--nav-height);
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 20px;
}

#log-out {
    display: none;
    margin: auto;
}

.title {
    text-align: center;
    color: #428589;
    transform: translate(20vw);
    font-size: 40px;
}
.login{
    transform: translate(20vw);
    font-size: 40px;
}

input {
    color: #428589;
    text-align: center;
}

.hipaa {
    text-align: left;
    color: #428589;
}
@media screen  and (max-width: 360px;){
    body,p,a,iframe,video{
        font-size: 16px;
}
}
@media screen (min-width: 375px;){
    body,p,a,iframe,video{
        font-size: 18px;
}
}
@media screen (min-width: 411px;){
    body,p,a,iframe,video{
        font-size: 20px;
}
}
@media screen (min-width: 768px;){
    body,p,a,iframe,video{
        font-size: 24px;
}
}
@media screen (min-width: 1366px;){
    body,p,a,iframe,video{
        font-size: 28px;
}
}
@media screen (min-width: 1920px;){
    body,p,a,iframe,video{
        font-size: 32px;
}
}