:root {
    --backGroundColor: #efdecd;
    --lightBlue: #94cffb;
    --darkBlue: #428589;
    --almostWhite: #f5f5f5;
    --almostBlack: #333;

    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    --radius: 30px;
}

@media (min-width: 600px) {
    :root {
        --fs-600: 2.25rem;
        --fs-500: 2rem;
        --fs-400: 1.5rem;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backGroundColor);
}

nav {
    background-color: var(--lightBlue);
    border-bottom: 2px solid var(--darkBlue);
    display: flex;
    justify-content: center;
    /* I would only do this if you are set on having it be sticky */
    position: fixed;
    top: 0;
    width: 100%;
}

nav > a {
    color: var(--darkBlue);
    text-decoration: none;
    margin: 0 5px;
    font-size: var(--fs-400);
}

.active {
    color: var(--almostWhite);
    background-color: var(--darkBlue);
}

nav>a:hover {
    background-color: #111;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: clamp(100px, 100%, 600px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0 5px;
    width: clamp(100px, calc(100% - 10px), 1000px);
}

.indexInfo {
    padding: 0 10px;
    font-size: var(--fs-400);
    background-color: var(--darkBlue);
    color: var(--almostWhite);
    border-radius: var(--radius);
}

.indexInfo > h3 {
    margin-bottom: 20px;
    padding: 0 5px;
}

.indexInfo > ol {
    padding: 20px;
}

@media (min-width: 600px) {
    .indexInfo>ol {
            padding: 30px;
        }
}

.video {
    margin-top: 30px;
    border: 3px solid var(--darkBlue);
    border-radius: var(--radius);
    width: clamp(100px, calc(100% - 5px), 1000px);
    height: 30vh;
}

@media (min-width: 600px) {
.video {
        height: 50vh;
    }
}

.guideInfoContainer {
    position: relative;
    margin-top: 20px;
}

.pillImg{
    width: clamp(100px, calc(100% - 5px), 1000px);
    opacity: 0.75;
    border: 3px solid var(--darkBlue);
    border-radius: var(--radius);
}

.guideInfoText {
    position: absolute;
    top: 0;
    padding: 0 10px;
    /* color: var(--almostWhite); */
    font-size: var(--fs-400);
}

.drugImgContainer {
    background-color: #fff;
    border-top: 3px solid var(--darkBlue);
    padding: 10px;
}

/* center images */
.drugImgContainer > img {
    width: clamp(100px, 250px, 400px);
}

address {
    display: inline-block;
}

footer {
    color: var(--darkBlue);
    font-size: var(--fs-400);
    text-align: center;
    margin: 20px;
}
