/* if ANY changes are made in this file increment the version number in all html files, !important */

/* declared all variables here */
:root {
	--backGroundColor: #efdecd;
	--lightBlue: #94cffb;
	--darkBlue: #428589;
	--almostWhite: #f5f5f5;
	--almostBlack: #333;

	--fs-700: 2.5rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 0.5rem;

	--radius: 30px;

	--beta_banner: #ff0000;
	--beta_banner_text: #fff;
	--beta_banner_height: 50px;
}

@media only screen and (min-width: 700px) {
	:root {
		--fs-600: 2.25rem;
		--fs-500: 2rem;
		--fs-400: 1.5rem;
		--fs-300: 1.25rem;
	}
}

/* multi page styles */
body {
	margin: 0;
	padding: 0;
	background-color: var(--backGroundColor);
	font-family: 'Heebo', sans-serif;
}

nav {
	background-color: var(--darkBlue);
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #111;
	z-index: 1;
}

nav > a,
nav > div > a {
	color: var(--backGroundColor);
	text-decoration: none;
	margin: 0 10px;
	font-size: var(--fs-400);
	z-index: 23;
}

nav > a:hover,
nav > div > a:hover {
	background-color: #111;
}

@media only screen and (max-width: 460px) {
	nav {
		display: block;
		position: relative;
		padding: 10px 0;
	}

	nav > a,
	nav > div > a {
		text-align: center;
		display: block;
		width: 50%;
		margin: auto;
		border-bottom: 1px solid var(--backGroundColor);
		font-size: var(--fs-500);
	}

	nav > a:last-child {
		border-bottom: none;
	}
}

footer {
	color: var(--darkBlue);
	font-size: var(--fs-400);
	text-align: center;
	margin: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding: 0 5px;
	width: clamp(100px, calc(100% - 10px), 1000px);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iframe {
	border: none;
	margin-top: var(--fs-600);
	width: 100vw;
	height: 95.8vh;
}

.logo {
	width: clamp(100px, 100%, 600px);
}

/* index.html */
.indexInfo {
	padding: 0 10px;
	font-size: var(--fs-400);
	background-color: var(--darkBlue);
	color: var(--backGroundColor);
	border-radius: var(--radius);
}

.indexInfo > h3 {
	margin-bottom: 20px;
	padding: 0 5px;
}

.indexInfo > ol {
	padding: 20px;
}

@media only screen and (min-width: 600px) {
	.indexInfo > ol {
		padding: 30px;
	}
}

.video {
	margin-top: 20px;
	border: 3px solid var(--darkBlue);
	border-radius: var(--radius);
	width: clamp(100px, calc(100% - 6px), 1000px);
	height: 30vh;
	padding: 0;
}

@media only screen and (min-width: 600px) {
	.video {
		height: 50vh;
	}
}

.guideInfoContainer {
	position: relative;
	margin-top: 20px;
	width: calc(100% - 6px);
}

.pillImg {
	margin: -3px;
	border: 3px solid var(--almostBlack);
	border-radius: var(--radius);
	width: 100%;
	opacity: 0.75;
}

.guideInfoText {
	position: absolute;
	top: 0;
	padding: 0 10px;
	font-size: var(--fs-400);
}

.drugImgContainer {
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin-top: 18px;
	grid-gap: 20px;
	width: calc(100% - 46px);
	border: 3px solid var(--darkBlue);
	border-radius: var(--radius);
	padding: 20px;
}

.drugImgContainer > img {
	width: clamp(100px, 250px, 400px);
	margin: auto;
}

/* about.html */
.justifyText {
	text-align: justify;
	color: var(--darkBlue);
	font-size: var(--fs-500);
	padding: 0 10px;
}

.centerTitle {
	text-align: center;
	color: var(--darkBlue);
	font-size: var(--fs-700);
}

.aboutImage {
	width: clamp(100px, 40vw, 400px);
	float: left;
	margin-right: 40px;
	border-radius: var(--radius);
}

/* institution.html */
#iframe {
	border: none;
	margin-top: var(--fs-600);
	width: 100vw;
	height: 95.8vh;
}

#logOut {
	display: none;
	font-size: var(--fs-300);
	margin-left: 10px;
	background-color: var(--backGroundColor);
}

#logOut:hover {
	background-color: var(--darkBlue);
	color: var(--backGroundColor);
}

form > h1 {
	text-align: center;
	color: var(--darkBlue);
	font-size: var(--fs-500);
	margin-top: 50px;
}

input {
	color: var(--darkBlue);
	text-align: center;
	font-size: var(--fs-500);
	margin-top: 10px;
}

/* register.html */
.registrationForm {
	width: 97vw;
	height: 2570px;
	border: 3px solid var(--darkBlue);
	border-radius: var(--radius);
}

@media only screen and (min-width: 600px) {
	.registrationForm {
		width: 700px;
		height: 2400px;
	}
}

/* hipaa.html */
.container > .hipaa {
	margin-top: 60px;
}

/* if ANY changes are made in this file increment the version number in all html files, !important */

/* beta */

.beta {
	position: fixed;
	top: 0;
	width: 100%;
	font-size: var(--fs-600);
	height: var(--beta_banner_height);
	background-color: var(--beta_banner);
	color: var(--beta_banner_text);
	text-align: center;
}

nav {
	top: var(--beta_banner_height);
}
.florida-image {
	width: 35%;
	height: 30%;
	border-radius: 11%;
}
.VAformulary {
	height: 15%;
}
