:root {
    --nav-height: 120px;
}

body {
    background-color: #efdecd;
    opacity: 0.9;
    margin-bottom: 10px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}

p {
    text-align: center;
}

address {
    display: inline-block;
}

footer {
    color: #428589;
    font-size: 20px;
    text-align: center;
}

.navbar {
    position: fixed;
    display: flex;
    padding-top: 5px;
    justify-content: center;
    padding-left: 10px;
    float: above;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 30px;
}

.ul {
    margin: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    list-style: none;
}

.ulli {
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}

.ullia {
    text-decoration: none;
    color: #428589;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #efdecd;
    padding-bottom: 10px;
}

.ullia :hover {
    transform: scale(1.2em);
    cursor: pointer;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.video {
    border: 3px solid #428589;
    border-radius: 5%;
}

.flexbox-item {
    margin-top: 10px;
    justify-self: center;
}

.flexbox-item-1 {
    width: 960px;
    min-height: 100px;
    background-color: #efdecd;
    background-size: cover;
    background-repeat: no-repeat;
}

.flexbox-item-2 {
    width: 960px;
    min-height: 300px;
    max-height: 400px;
    background-color: #efdecd;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 6%;
    padding-bottom: 420px;
}

.flexbox-item-3 {
    width: 1000px;
    position: relative;
    min-height: 300px;
    max-height: 500px;
    background-color: #94cffb;
    text-align: justify;
    border: 3px solid #428589;
    border-radius: 6%;
    margin-bottom: 20px;
}

.flexbox-item-4 {
    width: 100vw;
    min-height: 300px;
    background-color: #428589;
    color: #efdecd;
    font-size: 28px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #428589;
    border-top: 4px solid #efdecd;
    border-bottom: 4px solid #efdecd;
    margin-bottom: 10px;
}

.flexbox-item-5 {
    width: 960px;
    min-height: 300px;
    max-height: 400px;
    background-color: #efdecd;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 6%;
}

.ninesixty {
    width: 960px;
}

.elevenhundred {
    width: 960px;
    position: absolute;
    float: above;
    text-align: justify;
    padding-left: 10px;
    padding-right: 5px;
    border: 2px;
    border-radius: 6%;
    color: #fff;
}

.pills {
    float: left;
    position: relative;
    border-radius: 6%;
    max-height: 500px;
    width: 1000px;
}

.moveup {
    transform: translate(0, -338px);
    display: block;
    text-align: justify;
    padding-left: 30px;
    float: under;
    color: #fff;
}

.block {
    list-style: circle;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 5px;
    background-color: #fff;
    border-top: 4px solid #428589;
    border-bottom: 4px solid #428589;
    margin-left: -1px;
    margin-right: -1px;
    width: 100vw;
}

.grid-item {
    padding: 15px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.3s linear;
    align-items: center;
    align-content: center;
    background-color: #fff;
}

.drugPic {
    max-width: 280px;
}

.logo {
    width: 45%;
    height: 400px;
}

.googleForm {
    display: flex;
    align-items: left;
    margin-top: 0px;
    float: left;
    width: 65vw;
}

.about {
    text-align: justify;
    font-size: 25px;
    color: #428589;
}

.me {
    width: 220px;
    height: 400px;
    float: left;
    padding-right: 10px;
}

.header {
    color: #428589;
}

#iframe {
    border: none;
    width: 100%;
    margin-top: var(--nav-height);
    height: calc(100vh - 124px);
}

iframe {
    border: none;
    width: 100%;
    margin-top: var(--nav-height);
    height: calc(100vh - 124px);
}

#user-input {
    display: flex;
    align-items: center;
    margin-top: var(--nav-height);
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 20px;
}

#log-out {
    display: none;
    margin: auto;
}

.title {
    text-align: center;
    color: #428589;
}

input {
    color: #428589;
    text-align: center;
}

.hipaa {
    text-align: left;
    color: #428589;
}
